{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Get all the latest movies in one place">
    <meta name="keywords" content="Movie, Download, movies, movie, latest">
    <meta name="propeller" content="c0b2a8aab0dde7bf6d1af062d20fb98c" />
    <title>
        {% block title %}
            MovieClick
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static 'css/styles.css' %} type="text/css" media="all">
<!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '178727789220035');
        fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=178727789220035&ev=PageView&noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->
</head>
<body>
{#pop under ad#}
{#<script type="text/javascript" src="//go.pub2srv.com/apu.php?zoneid=755994"></script>#}

{% load static %}

{% block header %}
    <!---start-header---->
    <div class="header">
    <div class="wrap">
        <!---start-logo---->
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" title="logo"/></a>
        </div>
        <!---End-logo---->
        <!---start-top-menu-search---->
        <div class="top-menu">
            <div class="top-nav">
						<ul>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
            <div class="search">
                <form action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="textbox" name="movie" value="Search:" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value=" "/>
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!---End-top-menu-search---->
    </div>
    <!---End-header---->
{% endblock %}

</div>
<div class="clear"></div>


{% block content %}

{% endblock %}

{% block footer %}
    <div class="copy-right">
        <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
{% endblock %}

</body>
</html>