{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            MovieClick
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static 'css/styles.css' %} type="text/css"  media="all">
</head>
<body>
    {% block header %}
        <!---start-header---->
        <div class="header">
        <div class="wrap">
            <!---start-logo---->
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/logo.png' %}" title="logo"/></a>
            </div>
            <!---End-logo---->
            <!---start-top-menu-search---->
            <div class="top-menu">
                <div class="top-nav">
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="search">
                    <form>
                        <input type="text" class="textbox" value="Search:" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value=" "/>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!---End-top-menu-search---->
        </div>
        <!---End-header---->
        {#        <nav>#}
        {#            <ul>#}
        {#                <li>#}
        {#                    <a href="{% url 'index' %}">Home</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="{% url 'download' %}">About</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="{% url 'watch' %}">Contact</a>#}
        {#                </li>#}
        {#                <li>#}
        {#                    <a href="{% url 'category' %}">Browse</a>#}
        {#                </li>#}
        {#            </ul>#}
        {#        </nav>#}
    {% endblock %}

    </div>
    <div class="clear"></div>


    {% block content %}

    {% endblock %}

{% block footer %}
    <div class="copy-right">
        <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
{% endblock %}
</body>
</html>