{% extends 'base.html' %}

{% block content %}

    <div class="main-content">
        <div class="wrap">
            <div class="left-sidebar">
                <div class="sidebar-boxs">
                    <div class="clear"></div>
                    <div class="type-videos">
                        {#TODO PLACE HERE ADS#}
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="right-content-heading">
                </div>
                <div class="inner-page">
                    <div class="content-grid">
                        <h3>{{ movie.name }}</h3>
                        <img src="http://localhost/images/ss.jpg" alt=""><br><br>
                        <h3>VOTES<br>{{ movie.vote_average }}</h3>
                        <h3>DESCRIPTION</h3>
                        <p class="mypara">{{ movie.description }}</p>
                        <h3>RELEASE DATE<br>{{ movie.release_date }}</h3>
                        <a class="button" href="{{ movie.link }}">Download</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}