{% extends 'base.html' %}

{% block content %}

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72794273-5', 'auto');
        ga('send', 'pageview');

    </script>

    {% load static %}

    <div class="main-content">
        <div class="wrap">
            <div class="left-sidebar">
                <div class="sidebar-boxs">

                    <div class="type-videos">
                        <h3>Year</h3>
                        <ul>
                            {% for category in categorys %}
                                <li><a href="{% url 'browse' pk=1 year=category.year %}">{{ category.year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>

                    <div class="sidebar-box">
                        <div class="myTestAd">
                            <!-- advert code goes here -->
                            {#                            <script type="text/javascript">#}
                            {#                                clicksor_adhere_opt = 'left';#}
                            {##}
                            {#                                clicksor_default_url = '';#}
                            {#                                clicksor_banner_border = '#99CC33';#}
                            {#                                clicksor_banner_ad_bg = '#FFFFFF';#}
                            {#                                clicksor_banner_link_color = '#000000';#}
                            {#                                clicksor_banner_text_color = '#666666';#}
                            {#                                clicksor_layer_border_color = '';#}
                            {#                                clicksor_layer_ad_bg = '';#}
                            {#                                clicksor_layer_ad_link_color = '';#}
                            {#                                clicksor_layer_ad_text_color = '';#}
                            {#                                clicksor_text_link_bg = '';#}
                            {#                                clicksor_text_link_color = '';#}
                            {#                                clicksor_enable_text_link = false;#}
                            {##}
                            {#                                clicksor_banner_text_banner = false;#}
                            {#                                clicksor_banner_image_banner = true;#}
                            {#                                clicksor_enable_layer_pop = false;#}
                            {#                                clicksor_enable_pop = true;#}
                            {#                            </script>#}
                            {#                            <script type="text/javascript"#}
                            {#                                    src="http://b.yu0123456.com/show.php?nid=1&amp;pid=376792&amp;adtype=5&amp;sid=633877">#}
                            {##}
                            {#                            </script>#}
                            <!-- adblock detector -->
                            {#                            <script>#}
                            {#                                var adBlockEnabled = false;#}
                            {#                                var testAd = document.createElement('div');#}
                            {#                                testAd.innerHTML = '&nbsp;';#}
                            {#                                testAd.className = 'adsbox';#}
                            {#                                document.body.appendChild(testAd);#}
                            {#                                window.setTimeout(function () {#}
                            {#                                    if (testAd.offsetHeight === 0) {#}
                            {#                                        adBlockEnabled = true;#}
                            {#                                        window.location = "http://www.movieclick.xyz/remove_adblocker";#}
                            {#                                    }#}
                            {#                                    testAd.remove();#}
                            {#                                }, 100);#}
                            {#                            </script>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="right-content-heading">
                    <div class="right-content-heading-left">
                        <h3>Latest Collection</h3>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="content-grids">
                    {% for movie in movies %}
                        {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 %}
                            <div class="content-grid last-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name|truncatechars:25 }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
{#                                <a class="button" href="{% url 'trailer' pk=movie.pk %}">Trailer</a>#}
                            </div>
                        {% else %}
                            <div class="content-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name|truncatechars:25 }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
{#                                <a class="button" href="{% url 'trailer' pk=movie.pk %}">Trailer</a>#}
                            </div>
                        {% endif %}
                    {% endfor %}


                    <div class="clear"></div>

                    <div class="pagenation">
                        <ul>
                            <li><a href="{% url 'browse' pk=1 year=category_browse %}">1</a></li>
                            <li><a href="{% url 'browse' pk=12 year=category_browse %}">2</a></li>
                            <li><a href="{% url 'browse' pk=24 year=category_browse %}">3</a></li>
                            <li><a href="{% url 'browse' pk=36 year=category_browse %}">4</a></li>
                            <li><a href="{% url 'browse' pk=48 year=category_browse %}">5</a></li>
                            <li><a href="{% url 'browse' pk=60 year=category_browse %}">Next</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}