{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <div class="main-content">
        <div class="wrap">
            <div class="left-sidebar">
                <div class="sidebar-boxs">
                    <div class="sidebar-box">
                        {#TODO PLACE HERE ADS#}
                        <h2>Allbum-Name</h2>
                        <a href="#"><img src="{% static 'images/allbum.jpg' %}" title="image-name"/></a>
                        <h3>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT.</h3>
                        <div class="rate">
                            <b style="width:100%"> </b>
                            <a href="#">Rate 1/5</a>
                            <a href="#">Rate 2/5</a>
                            <a href="#">Rate 3/5</a>
                            <a href="#">Rate 4/5</a>
                            <a href="#">Rate 5/5</a>
                            <div class="clear"></div>
                        </div>
                        <input type="button" value="Rate it"/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ut labore et dolore magna
                            aliqua.</p>
                    </div>
                    <div class="clear"></div>
                    <div class="type-videos">
                        <h3>Labels</h3>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="right-content-heading">
                    <div class="right-content-heading-left">
                        <h3>Latest Collection</h3>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="content-grids">
                    {% for movie in movies %}
                        {% if forloop.counter == 4 %}
                            <div class="content-grid last-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Watch</a>
                            </div>
                        {% elif forloop.counter == 8 %}
                            <div class="content-grid last-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Watch</a>
                            </div>
                        {% elif forloop.counter == 12 %}
                            <div class="content-grid last-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Watch</a>
                            </div>
                        {% else %}
                            <div class="content-grid">
                                <a href="{% url 'download' pk=movie.pk %}"><img src="{{ movie.image }}"
                                                                                title="allbum-name"/></a>
                                <h3>{{ movie.name }}</h3>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Download</a>
                                <a class="button" href="{% url 'download' pk=movie.pk %}">Watch</a>
                            </div>
                        {% endif %}

                    {% endfor %}


                    <div class="clear"></div>

                    <div class="pagenation">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}