{% extends 'base.html' %}

{% block header %}
    <h1>Home</h1>
    {{ block.super }}
{% endblock %}

{% block content %}

    <p>
        Fames ac ante ipsum primis in faucibus. Aenean porta fringilla ipsum in dignissim. Sed eu
        odio nulla.orem, nec consequat nibh hendrerit sit amet.
        Nam congue ac mi aliquet condimentum. Morbi rhoncus a tellus nec varius.
        Nam ornare, lacus ut ullamcorper laoreet, erat ante sodales augue, at ullamcorper tortor risus vitae magna.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean porta fringilla ipsum in dignissim. Sed eu
        odio nulla.Nam congue ac mi aliquet condimentum. Morbi rhoncus a tellus nec varius.
        Nam ornare, lacus ut ullamcorper laoreet, erat ante sodales augue, at ullamcorper tortor risus vitae magna.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean porta fringilla ipsum in dignissim. Sed eu
        odio nulla.la. Vestibulum turpis urna, accumsan ullamcorper facilisis sed, tempor et magna. Morbi ultrices
        aliquet lorem, nec consequat nibh hendrerit sit amet.
        Nam congue ac mi
    </p>

{% endblock %}