{% extends 'base.html' %}

{% block content %}

    <div class="main-content">
        <div class="wrap">
            <div class="left-sidebar">
                <div class="sidebar-boxs">
                    <div class="clear"></div>
                    <div class="type-videos">
                        {#TODO PLACE HERE ADS#}
                        <h3>Year</h3>
                        <ul>
                            {% for category in categorys %}
                                <li><a href="{% url 'browse' pk=1 year=category.year %}">{{ category.year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="right-content-heading">
                </div>
                <div class="inner-page">
                    <h1>{{ movie.name }}</h1>
                    <div class="video-inner">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ movie.trailer_link }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}